.doctor-detail-container {
    height: 100vh;
    margin: 0 100px;
    border: 1px solid red;

    .intro-doctor {
        display: flex;

        .content-left {
            width: 20%;
            background: center center no-repeat;
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;
            background-size: cover;
        }

        .content-right {
            width: 80%;
            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                padding-top: 15px;
                font-size: 20px;
                font-weight: 600;
            }

            .down {
                font-size: 15px;
                padding-top: 10px;
            }
        }
    }

    .detail-info-doctor {
        margin-top: 20px;
        height: 300px;
    }
}