//reset slick slider select
.slick-prev {
    border: 2px solid #d7d7d7 !important;
    left: -10px !important;
    background-color: white !important;

    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;

    &:hover {
        background-color: #d7d7d7 !important;
    }
}

.slick-next {
    border: 2px solid #d7d7d7 !important;
    right: -10px !important;
    background-color: white !important;
    height: 48px !important;
    width: 44px !important;

    &:hover {
        background-color: #d7d7d7 !important;
    }
}

.slick-prev:before,
.slick-next:before {
    font-family: fontawesome !important;
    color: red !important;
}

.section-share {
    padding-bottom: 60px;
    // margin-top: 100px;

    .section-body {
        .slick-list {
            margin: 0 -5px;
        }

        .slick-slide>div {
            padding: 0 5px;
        }

        .section-customize {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            .bg-img {
                width: 100%;
                height: 0;
                padding-top: 75%;
                background-color: #eee;
                overflow: hidden;
                border-radius: 4px;

                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                &.section-img-specialty {
                    background-image: url('../../assets/Specialty/CoXuongKhop.jpg');
                }

                &.section-img-medical-facility {
                    background-image: url('../../assets/MedicalFacility/BenhVienBachMai.jpg');
                }

                &.section-img-outstanding-doctor {
                    background-image: url('../../assets/outstandingDoctor/image.png');
                }
            }
        }
    }



    &.section-specialty {
        position: relative;
        overflow: visible;
        background: #eeeeee;
    }

    &.section-outstanding-doctor {
        position: relative;
        overflow: visible;
        background: #eeeeee;
    }



    .section-container {
        margin: 0 100px;
        display: flex;
        flex-direction: column;

        .section-header {
            height: 60px;
            margin-bottom: 30px;
            padding-top: 30px;

            .title-section {
                font-weight: bold;
                font-size: 22px;
            }

            .btn-section {
                float: right;
                display: block;
                padding: 5px 10px;
                border: none;
                outline: none;
                font-size: 15px;
                cursor: pointer;
                color: black;
                background: #f5f5f5;
                text-transform: uppercase;


                &:hover {
                    color: white;
                    background: #4a90e2;
                }
            }
        }
    }
}